<%- include('header') %> 
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1 id="heading" class="box">About Page</h1>
        <p class="about-content">This website is to create lists.</p>
        <script src="" async defer></script>
<%- include('footer') %> 